@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(54, 160, 247);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

.iniciar {
  background-color: rgb(11, 175, 180);
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  border: none;
  width: 5rem;
  height: 2rem;
  transition: 0.5s;
}
.iniciar:hover{
  transition: 0.5s;
  background-color: rgb(11, 146, 180);
}

.pausar {
  background-color: rgb(216, 187, 20);
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  border: none;
  width: 5rem;
  height: 2rem;
}

.pausar:hover {
  transition: 0.5s;
  background-color: rgb(216, 147, 20);

}

.zerar {
  background-color: rgb(148, 148, 148);
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  border: none;
  width: 5rem;
  height: 2rem;

}

.zerar:hover{
  transition: 0.5s;
  background-color: #fff;
  color: rgb(131, 131, 131);  
}


.relogio {
  font-size: 3em;
  transition: 0.5s;
}

.pausado {
  color: rgb(245, 106, 106);
  transition: 0.5s;
}